/* racing-sans-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/racing-sans-one-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v49-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #e8f5e9; /* soft green-tinted white */
  background-image: url('images/ben10bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 28px;
  line-height: 1.4;
}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(5, 15, 5, 0.50); /* Light Grey Tint */
  z-index: 0;
  pointer-events: none;
}

header, main {
  position: relative;
  z-index: 1;
  max-width: 1000px;
  margin: 0 auto;
}


h1 {
  font-family: 'Racing Sans One';
  font-size: 48px;
  margin: 18px 0 6px 0;
  color: #39ff14; /* neon green */
  letter-spacing:4px;
  text-shadow: 0 0 10px rgba(57, 255, 20, 0.5);
}

figcaption {
  color: #FFFFFF; /* grey */
  font-size: 10px;
}

.intro {
  font-size: 16px;
  margin: 0 0 18px 0;
  color: #fbfbfd;
  padding: 1em;
  border-radius: 8px;
  background-color: rgba(0, 143, 0, 0.98); 

}

.gallery-title {
  font-family: 'Racing Sans One';
  font-size: clamp(20px, 1.4vw + 12px, 26px);
  color: #b9ffb3; /* light muted green */
  margin: 22px 0 12px 0;
}

/* member name (h3) */
.member h3 {
  font-family: 'Racing Sans One';
  font-size: 18px; 
  margin: 8px 0 6px 0;
  color:  #ccff90; /* pale lime green */
  letter-spacing: 4px;
}

/* paragraphs for members */
.member p {
  font-size: 16px; 
  margin: 8px 0 0 0;
  color: #fbfbfd; /* white */
}

/* Flexbox */
.gallery {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 28px;
}

/* Each member card */
.member {
  background: rgba(0, 50, 0, 0.9); /* dark translucent greenish black */
  border-radius: 10px;
  padding: 12px;
  width: calc(20% - 16px); 
  min-width: 180px; 
  box-shadow: 0 6px 18px rgba(0,0,0,0.6);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for cards */
.member:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 70px rgba(57, 255, 20, 0.4);
}

/* member images */
.member img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
  border: 2px solid rgba(57, 255, 20, 0.3);
}
