html {
		padding-top: 25px;
}

h1 {
		font-family: "Arimo", sans-serif;
}

body {
		width: 80%;
		padding: 20px;
		margin: 0 auto;
		border-radius: 10px;
		background-color: #e1edeb;
}

h2 {
		Color: #7569f0;
		font-family: "Arimo", sans-serif;
}