

/* racing-sans-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Racing Sans One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/racing-sans-one-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* actor-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Actor';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/actor-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* amarante-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Amarante';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/amarante-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
  background-image: url("images/Dark BG.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  border: 0;
  padding: 20px;
  color: #222;
}


h1 {
  font-family:'Racing Sans One';
  font-size: 36px;
  color: #ffcf33;
  text-align: center;
}

h2 {
  font-family: 'Actor';
  font-size: 22px;
  margin: 8px 0;
  color: #353935;  
}

p {
  font-size: 16px;
  line-height: 1.6;
}

/* Intro paragraph */
.intro {
  font-size: 25px;
  margin-bottom: 40px;
  max-width: 850px;
  margin: 20px auto 50px;
  text-align: center;
  padding: 0 20px;
  background-color: #B2BEB5; 
  border-radius: 6px;
  font-family:'Amarante';
}

/* 12-image movie grid */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px 40px;
}

/* Individual movie box */
.movie {
  background: rgba(255, 255, 255, 0.85);
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  text-align: center;
}

/* Movie images */
.movie img {
  width: 100%;
  max-width: 300px;
  border-radius: 6px;
}

/* Movie grid hover effect */
.movie:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 55px #FF0501;
    background-color: #7393B3; 
    color: #fff;
}

.movie p {
  font-size: 15px;
  margin: 0;

}

@media (max-width: 600px) {
  h1 { font-size: 28px; }
  p { font-size: 15px; }
}
